.lightBg{
  background-color: #fff;
} 

.pad10{
  padding: 10px !important;
} 

.rad10 {
  border-radius: 10px;
}


.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 20px;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 20px;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 20px;
}

.dark-mode select{
  color:#333 !important;
}

.main-svg{
  border-radius: 10px;
  
  animation-name: fromL;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

.control-sidebar{
  padding: 10px;
}

/**
.shiny-notification{
  width:30vw !important;
  position: fixed !important;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%)
  
}

.progress-text:after{
  content: "\A";
}

**/